@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

@media only screen and (min-width:320px){
    .help-text{
        font-family: 'Indie Flower';
        font-size: 15px;    
    }
    .header{
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-top: -100px;
    }
  }
  
@media only screen and (min-width:720px){
    .help-text{
        font-family: 'Indie Flower';
        font-size: 20px;    
    }
    .header{
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-top: -100px;
    }
}
