<div class="paper">
  <div class="lines">
    <div class="text" contenteditable spellcheck="false">
        <li *ngFor="let listItemsName of listItems">
            {{ listItemsName }} <button (click)="deleteItem(listItemsName)">X</button>
          </li>
          
          <input
          type="text"
          class="form-control"
          [(ngModel)]="listItemName">
          
          <button class="btn btn-primary"[disabled]="!newSession"
            (click)="addList()">Add..</button>  
      </div>
  <div class="holes hole-top"></div>
  <div class="holes hole-middle"></div>
  <div class="holes hole-bottom"></div>
</div>

