
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
  background: black;
  text-align: left;
}
@media only screen and (min-width:320px){
    .paper{
        width: 95%;
    }
  }
  
@media only screen and (min-width:720px){
    .paper {
        width: 53%;
    }
}

.paper {
  position: sticky;
  height: 650px;
  margin: 20px auto;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 0px 10px 0px #888;
}
.paper::before {
  content: '';
  position: absolute;
  left: 50px;
  height: 100%;
  z-index: 1;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 45px;
  position: absolute;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 33px, steelblue 34px);
}
.text {
  position: absolute;
  top: 34px;
  left: 65px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  outline: none;
  text-align: left;
}
.holes {
  position: absolute;
  left: 10px;
  height: 31px;
  width: 31px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0px 0px 6px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}
button{
    font-family: 'Indie Flower';
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
    font-size: 23px;    
}
li{
    font-family: 'Indie Flower';
    color: black;
    text-decoration:line-through;
    text-decoration-color: red;
    font-size: 23px;
    list-style-type: none
}
input{
    font-family: 'Indie Flower';
    color: black;
    font-size: 23px;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;    
}
h1{
    font-family: 'Indie Flower';
}
.add:hover{
    text-decoration:line-through;
    text-decoration-color: red;
}
.delete:hover{
    color:red
}
.send{
  font-family: 'Indie Flower';
  color: black;
  font-size: 20px;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  text-align: center;
  margin: 0 auto; 
  box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  display: block;
  border-color: buttonface;
  margin-top: 20px;
}