<div class="container">
  <h1>Not To Do</h1>
  
  <div class="add-item">
    <input 
      type="text" 
      [(ngModel)]="newItemName" 
      (keyup.enter)="addItem()" 
      placeholder="Add a new task...">
    <button (click)="addItem()">Add</button>
  </div>

  <ul class="item-list">
    <li *ngFor="let item of items | async" [class.completed]="item.completed">
      <div class="item-content">
        <input 
          type="checkbox" 
          [checked]="item.completed" 
          (change)="toggleComplete(item)">
        
        <span *ngIf="editingItemId !== item.$key" (click)="editItem(item)">
          {{ item.name }}
        </span>
        
        <input 
          *ngIf="editingItemId === item.$key"
          type="text" 
          [(ngModel)]="item.name"
          (blur)="saveEdit(item)"
          (keyup.enter)="saveEdit(item)"
          autofocus>
      </div>
      
      <button class="delete-btn" (click)="deleteItem(item.$key)">Delete</button>
    </li>
  </ul>

  <div class="stats" *ngIf="(items | async)?.length">
    <p>{{ (items | async)?.length }} item(s)</p>
  </div>
</div>
